@import 'tailwindcss';

@theme {
  --color-background: #0a0a0a; /* Cremita claro, cálido y elegante */
  --color-primary: #0a6e70; /* Verde institucional */
  --color-text: #ffffff; /* Texto principal, casi negro */
  --color-secondary: #4f4f4f; /* Texto secundario, gris medio */
  --color-support-1: #7a503f; /* Marrón rojizo, cálido, terroso */
  --color-support-2: #d99e6a; /* Beige dorado, elegante */
  --color-background-cards: #eaf3f3; /* Verde grisáceo muy claro, para tarjetas */
  --color-emphasis: #b8494e; /* Rojo vino suave, para llamados a la acción */

  /* Redes Sociales */

  --color-facebook: #1566ac;
  --color-facebook-2: #5975f7;
  --color-whatsapp: #25d366;
  --color-instagram: #574ec3;
  --color-instagram-2: #d62e72;
  --color-instagram-3: #cf2b72;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  overflow-x: hidden;

  font-family: 'Montserrat Variable', sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

strong {
  color: #0b6f6f;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 5px;
  border: 2px solid var(--color-background);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-emphasis);
}

/* Effect glow text header */
@utility glow-text {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

/* Animation with Scroll CSS */
