---
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="404 | Página no encontrada"
  description="Lo sentimos, la página que buscas no existe."
>
  <section
    class="w-full px-14 h-dvh flex flex-col gap-10 items-center justify-center"
  >
    <p class="font-bold text-center"><strong class="text-8xl">404</strong></p>
    <p class="text-xl text-center">Página no encontrada</p>
    <img
      src="https://media1.tenor.com/m/vd-LvmsY6c0AAAAd/leaving-work-on-friday-leaving-work.gif"
      alt=""
    />
  </section>
</Layout>
