---
import Button from '@/components/Button.astro'
import Layout from '@/layouts/Layout.astro'
import Gallery from '@/sections/Gallery.astro'
import Hero from '@/sections/Hero.astro'
import InfoAbout from '@/sections/sobre-nosotros/About.astro'
import VisitUs from '@/sections/sobre-nosotros/VisitUs.astro'
import WhatWeDo from '@/sections/WhatWeDo.astro'
---

<Layout
  title="Sobre Nosotros"
  description="Conoce más sobre nuestro equipo y nuestra misión."
>
  <Hero videoSrc="/videos/hero.mp4">
    La mejor comunidad de baile en Atlixco
  </Hero>

  <InfoAbout />
  <VisitUs />
  <WhatWeDo />

  <Gallery />

  <div
    class="w-full max-w-md md:max-w-2xl mx-auto px-4 py-10 sm:py-14 md:py-16 text-center"
  >
    <Button
      href="/contacto"
      className="mx-auto w-full sm:w-auto block text-base sm:text-lg md:text-2xl py-3 px-6 rounded-xl"
    >
      Únete a la mejor comunidad de baile en Atlixco
    </Button>
  </div>
</Layout>
