---
interface Props {
  href?: string
}

const { href = '#' }: Props = Astro.props
---

<a
  href={href}
  class="relative px-6 py-3 font-bold text-black group"
  rel="noopener noreferrer"
  target="_blank"
>
  <span
    class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-primary group-hover:translate-x-0 group-hover:translate-y-0 rounded-2xl"
  ></span>
  <span class="absolute inset-0 w-full h-full border-4 border-white rounded-2xl"
  ></span>
  <span class="relative text-white"><slot /></span>
</a>
