---
/* Puedes recibir props si quieres hacerlo reutilizable */
---

<section
  class="about-hero bg-cover bg-center relative h-dvh flex items-center justify-center text-white"
>
  <!-- Imagen de fondo, ajusta la ruta según tu proyecto -->
  <div class="absolute inset-0 bg-black/50 z-0"></div>
  <div
    class="relative z-10 flex flex-col items-center text-center max-w-2xl mx-auto px-4 py-16"
  >
    <h1
      class="text-4xl md:text-6xl font-extrabold mb-4 drop-shadow-lg uppercase"
    >
      Bienvenido a GUDAS Studio
    </h1>
    <p class="mb-8 text-lg md:text-xl">
      Donde el arte del movimiento se encuentra con la excelencia en formación
      escénica.
    </p>
    <!-- Botón opcional -->
    <a
      href="#contact"
      class="px-5 py-2 text-xl text-white bg-transparent rounded-lg border border-white font-semibold hover:bg-white hover:text-primary transition-colors duration-200"
    >
      Conócenos
    </a>
  </div>
</section>

<style>
  .about-hero {
    background-image: url('public/images/about/img2.webp');
  }
</style>
