---
import AboutInfo from '@/components/AboutInfo.astro'
---

<div class="min-h-[90dvh] my-10 sm:my-16">
  <section
    class="w-full max-w-2xl sm:max-w-4xl md:max-w-7xl m-auto my-6 sm:my-10 px-2 sm:px-4 py-10"
  >
    <h2
      id="about"
      class="text-center font-semibold text-lg sm:text-xl md:text-3xl lg:text-4xl mb-4 sm:mb-8"
    >
      <span class="text-primary tracking-widest">GUDAS</span> | Escuela de baile
      en Puebla <br /> Pasión, técnica y comunidad en cada paso
    </h2>
    <p
      class="text-center text-pretty text-base sm:text-lg md:text-xl lg:text-2xl text-secondary"
    >
      En <strong>Gudas Studio</strong> creemos que la danza es <strong
        >para todos</strong
      >. Te invitamos a unirte a nuestro programa de entrenamiento <strong
        >GUDAS</strong
      > y <strong>desarrollar tu máximo potencial</strong>, sin importar tu edad
      o experiencia.
    </p>

    <!-- <AboutAnimation /> -->
  </section>
  <AboutInfo />
</div>
