---
import AboutAnimation from '@/components/AboutAnimation.astro'
---

<div class="relative w-full max-w-7xl m-auto mt-24 px-4">
  <section>
    <h2
      id="about"
      class="text-center font-semibold text-xl md:text-3xl lg:text-4xl mb-8"
    >
      <span class="text-primary tracking-widest">GUDAS</span> | Escuela de baile
      en Puebla <br /> Pasión, técnica y comunidad en cada paso
    </h2>
    <p class="text-pretty text-lg md:text-xl lg:text-2xl text-secondary">
      En <strong>GUDAS</strong>, somos más que una escuela de baile: somos una
      comunidad donde la pasión por <strong>el movimiento</strong>, <strong
        >la música</strong
      > y <strong>la expresión personal</strong> se vive todos los días. Ofrecemos
      clases para <strong>todas las edades y niveles</strong>, desde
      principiantes hasta bailarines avanzados.
    </p>

    <AboutAnimation />
  </section>
</div>
