---
import TitleSection from '@/components/TitleSection.astro'
---

<section class="about-story-section py-16 px-4 md:px-0">
  <div class="max-w-7xl mx-auto flex gap-12 items-center justify-center">
    <article class="flex-1 flex flex-col gap-8 max-w-3xl">
      <TitleSection title="Bienvenido" />
      <p class="text-lg md:text-xl text-text/80 text-balance -mt-14">
        Gudas Studio es una compañía de danza originaria de Atlixco, Puebla,
        dedicada a promover, ofrecer y difundir la excelencia de la danza en
        todas sus expresiones. Nuestra misión es brindar una formación integral
        de alto nivel que reconozca las habilidades individuales de cada
        estudiante, orientándolos con disciplina y pasión hacia un futuro como
        artistas completos.
      </p>
      <p class="text-lg md:text-xl text-text/80 text-balance">
        En Gudas Studio, fusionamos el arte del movimiento con el desarrollo
        físico y técnico, ofreciendo un espacio integral donde el entrenamiento
        se convierte en una experiencia transformadora. Buscamos ofrecer el
        mejor balance en tu entrenamiento, evolucionando continuamente para
        completar tu desarrollo como artista.
      </p>
      <blockquote
        class="italic text-transparent bg-clip-text bg-gradient-to-r from-primary to-[#4079ff] text-xl font-semibold border-l-4 border-primary pl-4 mx-auto max-w-xl"
      >
        “Donde la pasión y la disciplina se encuentran para formar artistas
        completos.”
      </blockquote>
    </article>

    <div class="flex-1 hidden md:block">
      <img
        src="/public/images/about/daniel1.webp"
        alt=""
        class="object-cover h-full w-full rounded-3xl shadow-lg"
      />
    </div>
  </div>
</section>

<style>
  .about-story-section {
    /* Puedes agregar un fondo suave o decoraciones aquí */
  }
</style>
