---
import BentoItemMap from '@/components/BentoItemMap.astro'
import SwiperEvents from '@/components/SwiperEvents.astro'
import SwiperTeam from '@/components/SwiperTeam.astro'
---

<section
  class="w-full max-w-7xl mx-auto px-4 sm:px-6 md:px-8 py-12"
  role="region"
  aria-label="Sección de contenido destacado"
>
  <div
    class="grid grid-cols-1 md:grid-cols-10 auto-rows-[minmax(20rem,32rem)] gap-6 md:gap-8 backdrop-blur-md"
  >
    <SwiperEvents />
    <SwiperTeam />
    <BentoItemMap />
  </div>
</section>

<!-- Incluye animaciones específicas de Swiper -->
<script src="@/animation/swiper.js"></script>
<script src="@/animation/map.js"></script>
