---
import EmailIcon from '@/components/icons/EmailIcon.astro'
import FacebookIcon from '@/components/icons/FacebookIcon.astro'
import InstagramIcon from '@/components/icons/InstagramIcon.astro'
import MapIcon from '@/components/icons/MapIcon.astro'
import WhatsappIcon from '@/components/icons/WhatsappIcon.astro'
import Map from '@/components/Map.astro'
---

<section class="w-full px-8 flex flex-col items-center">
  <div class="flex flex-col items-center mb-15 w-fit gap-3">
    <h2 class="text-3xl md:text-5xl font-bold">¡Únete a Guda Studio!</h2>
    <div class="w-3/4 h-1 bg-gradient-to-r from-primary to-[#4079ff]"></div>
    <p>
      Comienza tu transformación artística hoy. Contáctanos para más información
      sobre nuestras clases y horarios.
    </p>
  </div>

  <div class="flex w-full justify-center items-center gap-8 max-w-7xl py-16">
    <div class="flex-1 flex flex-col gap-6 pl-12">
      <h4 class="text-2xl font-semibold text-primary">
        Información de Contacto
      </h4>
      <div class="flex flex-col gap-6">
        <a href="#" class="flex items-center gap-4">
          <MapIcon class="w-6 h-6 text-primary" />
          <div>
            <strong>Ubicación</strong>
            <p>Atlixco, Puebla, México</p>
          </div>
        </a>
        <a href="#" class="flex items-center gap-4">
          <WhatsappIcon class="w-6 h-6 text-primary" />
          <div>
            <strong>Teléfono</strong>
            <p>(222) 123-4567</p>
          </div>
        </a>
        <a href="#" class="flex items-center gap-4">
          <EmailIcon class="w-6 h-6 text-primary" />
          <div>
            <strong>Email</strong>
            <p>contacto@gudastudio.com</p>
          </div>
        </a>
      </div>

      <p class="text-xl text-primary font-semibold">
        Síguenos en nuestras redes sociales
      </p>
      <div class="flex gap-4">
        <a
          href="#"
          class="text-white bg-gradient-to-tr from-[#3d81f5] to-[#6267f1] px-4 py-1 flex items-center gap-2 text-lg font-semibold rounded-lg"
        >
          <FacebookIcon class="size-8 text-white" /> Facebook</a
        >
        <a
          href="#"
          class="text-white bg-gradient-to-tr from-[#ee4446] to-[#ed4797] px-4 py-1 rounded-lg font-semibold flex items-center gap-2"
        >
          <InstagramIcon class="size-8 text-white" /> Instagram</a
        >
      </div>
    </div>
    <div class="flex-1 w-full">
      <Map />
    </div>
  </div>
</section>
