---
import TitleSection from '@/components/TitleSection.astro'
---

<section class="w-7xl m-auto px-8 flex flex-col items-center mt-24">
  <TitleSection title="Visión" />

  <div
    class="w-full max-w-[1600px] flex flex-col md:flex-row items-center justify-between gap-8 md:gap-28"
  >
    <div class="flex-1 flex flex-col gap-4">
      <span
        class="px-5 py-3 bg-gradient-to-tr from-amber-400 to-amber-700 text-white font-bold w-fit rounded-full text-sm"
        >🏆 Representando a México</span
      >
      <p class="text-lg text-pretty leading-8 tracking-wide">
        Ser un <strong>referente en Atlixco y a nivel nacional</strong> en la formación
        de <strong>bailarines y atletas escénicos</strong>, ofreciendo un modelo
        de
        <strong>entrenamiento innovador</strong> que fusiona arte, técnica y bienestar.
      </p>
      <p class="text-lg text-pretty leading-8 tracking-wide">
        Aspiramos a <strong>transformar vidas</strong> a través de la danza y el
        movimiento, construyendo una <strong
          >comunidad creativa, disciplinada y apasionada</strong
        > que represente a México con orgullo en escenarios estatales, nacionales
        e internacionales.
      </p>

      <div class="flex flex-wrap gap-8 mt-4 text-sm text-pretty items-center">
        <span
          class="px-5 py-1 bg-transparent border border-primary text-primary font-bold rounded-full"
          >Breaking</span
        >
        <span
          class="px-5 py-1 bg-transparent border border-emphasis text-emphasis font-bold rounded-full"
          >Hip Hop Dance</span
        >
        <span
          class="px-5 py-1 bg-transparent border border-support-1 text-support-1 font-bold rounded-full"
          >Reggaetón</span
        >
        <span
          class="px-5 py-1 bg-transparent border border-support-2 text-support-2 font-bold rounded-full"
          >Competencias</span
        >
      </div>
    </div>

    <div
      class="flex-1 flex items-center justify-center rounded-xl overflow-hidden group"
    >
      <img
        src="/images/about/img1.webp"
        alt="Crew Image"
        class="group-hover:saturate-150 group-hover:scla110 transition-all duration-500"
      />
    </div>
  </div>
</section>
