<footer
  class="w-full h-[40dvh] flex items-center justify-center flex-col bg-gray-800 text-white p-6"
>
  <div
    class="container mx-auto flex flex-col md:flex-row justify-between items-center gap-4 border-b-2 border-gray-700 pb-4"
  >
    <a href="/">
      <h4
        class="tracking-wide flex items-center flex-col md:flex-row gap-2 text-center md:text-left"
      >
        <strong class="text-3xl">GUDAS</strong> | Escuela de Baile en Puebla
      </h4>
    </a>
    <a href="map" class="text-pretty">Dirección</a>

    <div>
      <p class="text-sm">Teléfono: 123-456-7890</p>
      <p class="text-sm">Email: contacto@guda.com</p>
    </div>
  </div>
  <p class="text-center text-sm text-gray-500 mt-3">
    © 2025 Guda Studio. Todos los derechos reservados.
  </p>
</footer>
