<footer class="bg-white border-t border-gray-200 h-1000">
  <div class="container mx-auto py-4">
    <p class="text-center text-sm text-gray-600">
      &copy; {new Date().getFullYear()} Guda Studio. Todos los derechos reservados.
    </p>
  </div>
</footer>
