---
const { pathname } = Astro.url

// Resaltar la clase activa en el menú de navegación
const isActive = (path: string) => pathname === path
---

<header
  class="fixed top-0 z-50 mx-auto flex h-20 w-full select-none px-24 items-center text-white sm:overflow-hidden"
>
  <div class="relative flex justify-between px-6 py-4 md:w-full">
    <div class="w-24 h-auto">
      <a href="/" class="flex items-center gap-2">
        <img src="/logo-white.webp" alt="Logo Guda Studio" />
      </a>
    </div>

    <nav class="flex items-center justify-center">
      <ul class="flex gap-8 text-lg font-semibold" id="navContent">
        <li>
          <a
            href="/"
            class=`${isActive('/') ? 'text-primary font-bold text-2xl' : 'text-white'} hover:text-primary`
            >Inicio</a
          >
        </li>
        <li>
          <a
            href="/about"
            class=`${isActive('/about') ? 'text-primary font-bold text-2xl' : 'text-white'} hover:text-primary`
            >Sobre Nosotros</a
          >
        </li>
        <li>
          <a
            href="/classes"
            class=`${isActive('/classes') ? 'text-primary font-bold text-2xl' : 'text-white'} hover:text-primary`
            >Clases</a
          >
        </li>
        <li>
          <a
            href="/crew"
            class=`${isActive('/crew') ? 'text-primary font-bold text-2xl' : 'text-white'} hover:text-primary`
            >Equipo</a
          >
        </li>
        <li>
          <a
            href="/contact"
            class=`${isActive('/contact') ? 'text-primary font-bold text-2xl' : 'text-white'} hover:text-primary`
            >Contacto</a
          >
        </li>
      </ul>
    </nav>

    <div class="flex items-center gap-4">
      <a
        href="#"
        class="px-5 py-3 text-xl text-white bg-gradient-to-l from-primary to-text font-semibold rounded-lg hover:from-text hover:to-primary transition-colors duration-200"
        >Ver tienda</a
      >
    </div>
  </div>
</header>

<style>
  header {
    background: transparent;
    animation: header-blur-scroll 0.3s linear both;
    animation-timeline: scroll();
    animation-range: 0 250px;
    border-bottom: 1px solid transparent;
  }

  @keyframes header-blur-scroll {
    0% {
      backdrop-filter: blur(0px);
      background: transparent;
    }

    100% {
      backdrop-filter: blur(10px);
      background: rgba(0, 0, 0, 0.5);
      padding-bottom: var(--spacing-6);
      border-bottom-color: black;
    }
  }

  #navContent {
    transition:
      translate 0.3s ease-in-out,
      visibility 0.3s 0.3s;
  }

  #navContent.showing {
    visibility: visible;
    translate: 0 0;
    transition:
      translate 0.3s ease-in-out,
      visibility 0.3s;
  }

  .logo-glow-teal {
    filter: drop-shadow(0 0 6px #14b8a6) drop-shadow(0 0 1px #fff);
  }
</style>
