---
import GradientText from '@/components/GradientText.astro'
---

<section class="">
  <div
    class="w-full h-dvh max-w-6xl m-auto flex flex-col items-center justify-center gap-10"
  >
    <div
      class="w-auto h-40 md:w-auto md:h-110 group flex flex-col items-center justify-center"
    >
      <h2
        class="w-fit px-2 py-1 text-white bg-gradient-to-br from-primary to-text font-semibold text-lg md:text-2xl rounded-lg mb-2 group-hover:translate-y-3 transition-transform duration-200"
      >
        Alitxco, Puebla <span class="text-sm">MX</span>
      </h2>
      <img
        src="logo-white.webp"
        alt="Logo Guda Studio"
        class="w-full h-full object-contain group-hover:scale-110 transition-transform duration-200"
      />
    </div>

    <p class="text-2xl md:text-3xl text-center font-semibold text-white">
      Donde el arte del movimiento se fusiona con el desarrollo físico y
      técnico.
    </p>
    <GradientText
      colors={['#0a716f', '#4079ff', '#0a716f', '#4079ff', '#0a716f']}
      animationSpeed={10}
      showBorder={false}
      className="text-4xl"
    >
      Transformamos pasión en excelencia artística.
    </GradientText>

    <div class="flex flex-col md:flex-row gap-10 items-center">
      <a
        href="#"
        class="px-5 py-2 text-xl text-white bg-gradient-to-l from-primary to-text font-semibold rounded-lg hover:from-text hover:to-primary transition-colors duration-200"
        >Comienza Tu Entrenamiento</a
      >
      <a
        href="#"
        class="px-5 py-2 text-xl text-white bg-transparent rounded-lg border border-white font-semibold hover:bg-white hover:text-primary transition-colors duration-200"
        >Conoce Nuestras Clases</a
      >
    </div>
  </div>

  <div class="absolute inset-0 w-full h-full overflow-hidden -z-30">
    <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent">
    </div>
    <video src="/videos/hero.mp4" autoplay loop muted></video>
  </div>
</section>
