---
import LineText from '@/components/LineText.astro'
---

<!-- Animated -->
<LineText side="right" />
<section class="bg-black/90 w-full">
  <!-- Text -->
  <div
    class="flex flex-col md:flex-row items-center gap-8 md:gap-16 py-16 px-8"
  >
    <!-- img -->
    <div class="w-full md:w-1/2 flex justify-center items-center">
      <img
        src="https://images.squarespace-cdn.com/content/v1/600fdf59413d8b3e46c82c3d/7f3b127d-c017-4fec-92aa-c398acc77f1d/eqpt+AJ.png?format=1500w"
        alt="Merchandising Guda Studio"
        class="max-w-xs md:max-w-md w-full h-auto object-cover"
        loading="lazy"
      />
    </div>

    <!-- text -->
    <div
      class="w-full md:w-1/2 p-8 flex flex-col items-center md:items-start text-center md:text-left"
    >
      <h2 class="text-4xl font-extrabold mb-4 text-primary drop-shadow">
        Merchandising
      </h2>
      <p class="text-lg text-gray-200 mb-6">
        Explora nuestra colección de productos oficiales, desde camisetas hasta
        accesorios exclusivos. <span class="text-primary font-semibold"
          >¡Lleva la pasión por el baile contigo!</span
        >
      </p>
      <a
        href="/merch"
        class="inline-block px-8 py-4 bg-primary text-white text-lg font-bold rounded-xl shadow-xl hover:scale-105 hover:bg-primary/90 focus:outline-none focus:ring-4 focus:ring-primary/40 transition-transform duration-300"
      >
        ¡Explora nuestra tienda!
      </a>
    </div>
  </div>
</section>
<LineText side="left" />

<style>
  h2,
  p,
  a,
  img {
    animation: fadeIn linear both;
    animation-timeline: view();
    animation-range: entry 25% cover 40%;
  }
</style>
