---
import TitleSection from '@/components/TitleSection.astro'
---

<section class="w-7xl m-auto px-8 flex flex-col items-center mt-14">
  <TitleSection title="Misión" />

  <div class="flex flex-col md:flex-row items-center justify-between md:gap-20">
    <div
      class="flex-1 rounded-xl overflow-hidden shadow-lg hover:scale-105 transition-transform duration-300"
    >
      <img src="/images/about/img2.webp" alt="Foto de Guda Studio" />
    </div>

    <div class="flex-1 p-6 text-center md:text-left flex flex-col gap-8">
      <p class="text-lg md:text-xl text-pretty tracking-wide">
        Formar <strong>ARTISTAS integrales</strong> a través de la enseñanza profesional
        del <strong>baile urbano</strong>, la <strong>gimnasia</strong>, y el
        <strong>entrenamiento físico</strong>, impulsando la expresión, la
        disciplina y el desarrollo técnico de cada alumno.
      </p>

      <p class="text-lg md:text-xl text-pretty tracking-wide">
        Promovemos un <strong>espacio inclusivo y motivador</strong> que reconoce
        y potencia las <strong>habilidades individuales</strong>, brindando
        experiencias de aprendizaje de <strong>alto nivel</strong> que transforman
        cuerpo, mente y espíritu.
      </p>

      <div
        class="w-3/4 m-auto flex flex-col md:flex-row items-center justify-between gap-6 text-center"
      >
        <div class="flex-1">
          <span class="text-5xl font-bold text-primary">5+</span>
          <p class="text-lg md:text-xl text-pretty tracking-wide">
            Años de experiencia
          </p>
        </div>
        <div class="flex-1">
          <span class="text-5xl font-bold text-primary">200+</span>
          <p class="text-lg md:text-xl text-pretty tracking-wide">
            Estudiantes Formados
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
