<section class="w-full px-8 flex flex-col items-center">
  <div class="flex flex-col items-center mb-15 w-fit gap-3">
    <h2 class="text-3xl md:text-5xl font-bold">Nuestra Misión</h2>
    <div class="w-3/4 h-1 bg-gradient-to-r from-primary to-[#4079ff]"></div>
  </div>

  <div class="flex flex-col md:flex-row items-center justify-between md:gap-20">
    <div
      class="flex-1 rounded-xl overflow-hidden shadow-lg hover:scale-105 transition-transform duration-300"
    >
      <img src="/images/about/img2.webp" alt="Foto de Guda Studio" />
    </div>

    <div class="flex-1 p-6 text-center md:text-left flex flex-col gap-8">
      <p class="text-lg md:text-xl text-pretty tracking-wide">
        Somos una compañía de danza originaria de Atlixco, Puebla, dedicada a
        promover, ofrecer y difundir la <strong>excelencia de la danza</strong> en
        todas sus expresiones.
      </p>

      <p class="text-lg md:text-xl text-pretty tracking-wide">
        Nuestra misión es brindar una <strong
          >formación integral de alto nivel</strong
        > que reconozca las habilidades individuales de cada estudiante, orientándolos
        con disciplina y pasión hacia un futuro como artistas completos.
      </p>

      <div
        class="w-3/4 m-auto flex flex-col md:flex-row items-center justify-between gap-6 text-center"
      >
        <div class="flex-1">
          <span class="text-5xl font-bold text-primary">5+</span>
          <p class="text-lg md:text-xl text-pretty tracking-wide">
            Años de experiencia
          </p>
        </div>
        <div class="flex-1">
          <span class="text-5xl font-bold text-primary">200+</span>
          <p class="text-lg md:text-xl text-pretty tracking-wide">
            Estudiantes Formados
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
