---
import { ClientRouter } from 'astro:transitions'

import Footer from '@/sections/Footer.astro'

import '@/styles/global.css'
import '@fontsource-variable/league-spartan'
import '@fontsource/bilbo-swash-caps'
import '@fontsource/poppins'
import Header from '@/sections/Header.astro'

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props as Props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    <!-- Estilos de Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
