---
import Footer from '@/sections/Footer.astro'
import Header from '@/sections/Header.astro'

import '@/styles/global.css'
import '@fontsource-variable/league-spartan'
import '@fontsource/bilbo-swash-caps'
import '@fontsource/poppins'

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props as Props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    <!-- Estilos de Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <script src="/src/animation/about.js" type="module"></script>
    <script src="/src/animation/swiper.js" type="module"></script>
    <script src="/src/animation/leaflet.js" type="module"></script>
    <!-- <script src="/src/animation/map.js" type="module"></script> -->
  </body>
</html>
